# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__

    . List popular languages for Data Science
    . List commonly libraraies used for Data science  
    . List Some Arithmetic Expressions used in python

Some of the popular languages that Data Scientists use are:
    
    1- R
    2- Python
    3- Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1- Numpy
    2- Pands
    3- Tenserflow
    4- Matplotlib
    5- Scipy

|Data Science Tools|  
|------------------|
|Jupyter Notebook  |
|Tableau           |
|Apache Spark      |
|MATLAP            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
 Abdallah